@charset "UTF-8";
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
}

a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 50px 70px;
  border-bottom: 1px solid #473550;
}
header .header__icons-container {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #9523CF;
}
header .header__icons-container .header__icons-container__icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: space-around;
}
header .header__icons-container .header__icons-container__icons span {
  color: white;
}
header .header__icons-container .header__icons-container__icons span:hover {
  color: #473550;
}
header .header__nav-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);
}
header .header__nav-container .header__nav-container__logo a img {
  width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header__nav-container .header__nav-container__profile-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
header .header__nav-container .header__nav-container__profile-link a {
  color: #9523CF;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #9523CF;
  cursor: pointer;
}
header .header__nav-container .header__nav-container__profile-link a:hover {
  transform: scale(1.05); /* Escala el elemento al 105% de su tamaño original al pasar el cursor */
}

main {
  /*Imagen*/
  /*parrafo del blog*/
  /*contacto*/
}
main .main__blogpost-img-container {
  padding: 40px 50px 40px;
  background-color: #9523CF;
}
main .main__blogpost-img-container img {
  width: 100%;
}
main .main__blogpost-main-container {
  padding: 0 50px 40px;
}
main .main__blogpost-main-container h3 {
  color: #9523CF;
  font-size: 2rem;
  border-bottom: 1px solid #9523CF;
  margin: 20px 0;
}
main .main__blogpost-main-container h1 {
  color: #9523CF;
  font-size: 4rem;
  margin-bottom: 20px;
}
main .main__blogpost-main-container p {
  color: #473550;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
main .main__contact-main-container {
  width: 100%;
  height: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 515px));
  grid-template-rows: 1fr;
  background-color: #9523CF;
  justify-content: center;
  padding: 40px 30px 40px;
}
main .main__contact-main-container .main__contact-main-container__left, main .main__contact-main-container .main__contact-main-container__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
main .main__contact-main-container .main__contact-main-container__left img, main .main__contact-main-container .main__contact-main-container__right img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
main .main__contact-main-container .main__contact-main-container__left div a, main .main__contact-main-container .main__contact-main-container__right div a {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  border-bottom: 1.5px solid white;
  display: inline-block;
  transition: transform 0.3s;
}
main .main__contact-main-container .main__contact-main-container__left div a:hover, main .main__contact-main-container .main__contact-main-container__right div a:hover {
  transform: scale(1.2);
}
main .main__contact-main-container .main__contact-main-container__left div p, main .main__contact-main-container .main__contact-main-container__right div p {
  font-size: 1.3rem;
  margin: 10px 0;
  color: white;
}
footer {
  width: 100%;
  height: auto;
}
footer .footer__text {
  border-top: 35px solid #8037A5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #663D7A;
}
footer .footer__text .footer__text__p {
  font-size: 1.3rem;
  color: white;
}/*# sourceMappingURL=blog.css.map */