@charset "UTF-8";
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
}

a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 50px 70px;
  border-bottom: 1px solid #473550;
}

.header__icons {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #9523CF;
}
.header__icons .header__listIcons {
  width: 300px;
  height: auto;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: space-around;
}
.header__icons .header__listIcons .icon {
  color: white;
}
.header__icons .header__listIcons .icon:hover {
  color: #473550;
}

.header__nav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__logo .logo .logo__image {
  width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav .header__profileLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.header__nav .header__profileLink .header__linkProfile {
  color: #9523CF;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #9523CF;
  cursor: pointer;
}
.header__nav .header__profileLink .header__linkProfile:hover {
  transform: scale(1.05);
}

.main {
  /*Imagen*/
}
.main__imgContainer {
  padding: 40px 50px 40px;
  background-color: #9523CF;
}
.main__imgContainer .imgContainer__img {
  width: 100%;
}

.main {
  /*parrafo del blog*/
}
.main__blogpost {
  padding: 0 50px 40px;
}
.main__blogpost .blogpost__content .blogpost__h3 {
  color: #9523CF;
  font-size: 2rem;
  border-bottom: 1px solid #9523CF;
  margin: 20px 0;
}
.main__blogpost .blogpost__content .blogpost__article .blogpost__title {
  color: #9523CF;
  font-size: 4rem;
  margin-bottom: 20px;
}
.main__blogpost .blogpost__content .blogpost__article .blogpost__paragraph {
  color: #473550;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main {
  /*contacto*/
}
.main__contact {
  width: 100%;
  height: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 515px));
  grid-template-rows: 1fr;
  background-color: #9523CF;
  justify-content: center;
  padding: 40px 50px 40px;
}
.main__contact .contact__message, .main__contact .contact__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.main__contact .contact__message .contact__img, .main__contact .contact__social .contact__img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.main__contact .contact__message .contact__text .profileLink, .main__contact .contact__social .contact__text .profileLink {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  border-bottom: 1.5px solid white;
  display: inline-block;
  transition: transform 0.3s;
}
.main__contact .contact__message .contact__text .profileLink:hover, .main__contact .contact__social .contact__text .profileLink:hover {
  transform: scale(1.2);
}
.main__contact .contact__message .contact__text .contact__paragraph, .main__contact .contact__social .contact__text .contact__paragraph {
  font-size: 1.3rem;
  margin: 10px 0;
  color: white;
}
.footer {
  width: 100%;
  height: auto;
}
.footer__text {
  border-top: 35px solid #8037A5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #663D7A;
}
.footer__text .footer__paragraph {
  font-size: 1.3rem;
  color: white;
}/*# sourceMappingURL=blog.css.map */