@charset "UTF-8";
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 50px 70px;
  border-bottom: 1px solid #473550;
}

.header__icons {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #9523CF;
}
.header__icons .header__listIcons {
  width: 300px;
  height: auto;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: space-around;
}
.header__icons .header__listIcons .icon {
  color: white;
}
.header__icons .header__listIcons .icon:hover {
  color: #473550;
}

.header__nav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__logo .logo .logo__image {
  width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav .header__profileLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.header__nav .header__profileLink .header__linkProfile {
  color: #9523CF;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #9523CF;
  cursor: pointer;
}
.header__nav .header__profileLink .header__linkProfile:hover {
  transform: scale(1.05);
}

.main {
  /*sección noticias*/
}
.main__news {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #473550;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
.main__news .news__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 30px 50px;
}
.main__news .news__article {
  display: grid;
  padding: 0 40px;
  grid-template-columns: repeat(2, minmax(300px, 500px));
  grid-auto-rows: 300px;
  gap: 30px;
  justify-content: center;
}
.main__news .news__article .article__infoImg .infoImg__container {
  width: 100%;
  height: 100%;
}
.main__news .news__article .article__infoImg .infoImg__container .infoImg__image {
  width: 90%;
  border-radius: 10px;
}
.main__news .news__article .article__infoText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.main__news .news__article .article__infoText .article__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
.main__news .news__article .article__infoText .article__paragraph {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 30px;
}
.main__news .news__article .article__infoText .blogProfile {
  width: 90px;
  height: 35px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1.5px solid white;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #A700FA;
  color: white;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s;
}
.main__news .news__article .article__infoText .blogProfile:hover {
  background-color: #663D7A;
  transform: scale(1.05); /* Escala el elemento al 105% de su tamaño original al pasar el cursor */
}

.main {
  /*Últimos blogposts*/
}
.main__latestBlogs .latestBlogs__title {
  font-size: 2rem;
  font-weight: 700;
  color: #9523CF;
  text-align: center;
  margin: 20px 0px;
}
.main__latestBlogs .latestBlogs__container {
  margin: 0 auto;
  margin-bottom: 70px;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main__latestBlogs .latestBlogs__container .article {
  min-width: 280px; /*para que funcione el overflow-x*/
  width: 280px;
  height: 380px;
  background-color: #9523CF;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  /*Otras imagenes*/
}
.main__latestBlogs .latestBlogs__container .article .article__imgContainer--first, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--sixth, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--fifth, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--fourth, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--third, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--second {
  width: 100%;
  height: 45%;
}
.main__latestBlogs .latestBlogs__container .article .article__imgContainer--first .article__img, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--sixth .article__img, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--fifth .article__img, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--fourth .article__img, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--third .article__img, .main__latestBlogs .latestBlogs__container .article .article__imgContainer--second .article__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main__latestBlogs .latestBlogs__container .article .article__title {
  color: white;
  margin: 20px 10px;
  font-size: 1.8rem;
}
.main__latestBlogs .latestBlogs__container .article .article__paragraph {
  color: white;
  font-size: 1.2rem;
  margin: 0px 10px;
  margin-bottom: 30px;
}
.main__latestBlogs .latestBlogs__container .article .blogProfile {
  width: 90px;
  height: 35px;
  padding: 10px;
  margin: 0px 10px;
  text-align: center;
  border-radius: 10px;
  border: 1.5px solid white;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #663D7A;
  color: white;
  cursor: pointer;
}
.main__latestBlogs .latestBlogs__container .article .blogProfile:hover {
  background-color: #9523CF;
  transform: scale(1.05); /* Escala el elemento al 105% de su tamaño original al pasar el cursor */
}
.footer {
  width: 100%;
  height: auto;
}
.footer__text {
  border-top: 35px solid #8037A5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #663D7A;
}
.footer__text .footer__paragraph {
  font-size: 1.3rem;
  color: white;
}/*# sourceMappingURL=blogs.css.map */