@charset "UTF-8";
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
}

a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 50px 70px;
  border-bottom: 1px solid #473550;
}

.header__icons {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #9523CF;
}
.header__icons .header__listIcons {
  width: 300px;
  height: auto;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: space-around;
}
.header__icons .header__listIcons .icon {
  color: white;
}
.header__icons .header__listIcons .icon:hover {
  color: #473550;
}

.header__nav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__logo .logo .logo__image {
  width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav .header__profileLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.header__nav .header__profileLink .header__linkProfile {
  color: #9523CF;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #9523CF;
  cursor: pointer;
}
.header__nav .header__profileLink .header__linkProfile:hover {
  transform: scale(1.05);
}

.main {
  /*sección sobre mi*/
}
.main__aboutMe {
  width: 100%;
  height: aut;
  background-color: #dfe3e9;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
.main__aboutMe .aboutMe__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 550px));
  grid-auto-rows: 300px;
  padding: 20px 50px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.main__aboutMe .aboutMe__info .aboutMe__img .aboutMe__imgContainer {
  display: grid;
  width: 100%;
  height: 100%;
}
.main__aboutMe .aboutMe__info .aboutMe__img .aboutMe__imgContainer .imgContainer__img {
  justify-self: center;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.main__aboutMe .aboutMe__info .aboutMe__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.main__aboutMe .aboutMe__info .aboutMe__text .aboutMe__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #9523CF;
  margin-bottom: 20px;
}
.main__aboutMe .aboutMe__info .aboutMe__text .aboutMe__paragraph {
  font-size: 1.3rem;
  font-weight: 600;
  color: #9523CF;
  margin-bottom: 30px;
}

.main {
  /*proyectos*/
}
.main__projects {
  margin-bottom: 50px;
  height: auto;
}
.main__projects .projects__title {
  font-size: 2rem;
  font-weight: 700;
  color: #9523CF;
  text-align: center;
  margin: 40px 0px;
}
.main__projects .projects__articles {
  padding: 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main__projects .projects__articles .article {
  background-color: #9523CF;
  max-width: 350px;
  min-width: 280px;
  height: 280px;
  border-radius: 5px;
  padding: 15px 15px;
}
.main__projects .projects__articles .article .article__text {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.main__projects .projects__articles .article .article__info {
  color: white;
  line-height: 15px;
  font-size: 1.3rem;
}

.main {
  /*contacto*/
}
.main__contact {
  width: 100%;
  height: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 515px));
  grid-template-rows: 1fr;
  background-color: #9523CF;
  justify-content: center;
  padding: 40px 50px 40px;
}
.main__contact .contact__message, .main__contact .contact__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.main__contact .contact__message .contact__img, .main__contact .contact__social .contact__img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.main__contact .contact__message .contact__text .profileLink, .main__contact .contact__social .contact__text .profileLink {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  border-bottom: 1.5px solid white;
  display: inline-block;
  transition: transform 0.3s;
}
.main__contact .contact__message .contact__text .profileLink:hover, .main__contact .contact__social .contact__text .profileLink:hover {
  transform: scale(1.2);
}
.main__contact .contact__message .contact__text .contact__paragraph, .main__contact .contact__social .contact__text .contact__paragraph {
  font-size: 1.3rem;
  margin: 10px 0;
  color: white;
}
.footer {
  width: 100%;
  height: auto;
}
.footer__text {
  border-top: 35px solid #8037A5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #663D7A;
}
.footer__text .footer__paragraph {
  font-size: 1.3rem;
  color: white;
}/*# sourceMappingURL=perfil.css.map */