@import 'variables';

a{
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 50px 70px;
    border-bottom: 1px solid $fifth-color;

    .header__icons-container{
        width: 100%;
        height: 100%;
        display: grid;
        background-color: $primary-color;

        .header__icons-container__icons{
            width: 300px;
            height: auto;
            display: flex;
            justify-self: end;
            align-items: center;
            justify-content: space-around;

            span{
                color: $text-color;
                &:hover{
                    color: $fifth-color;
                }
            }
        }
    }

    .header__nav-container{
        background-color: $text-color;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        align-items: center;
        box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);


        .header__nav-container__logo{
            a{
                img{
                    width: 150px;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .header__nav-container__profile-link{
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;

            a{
                color: $primary-color;
                font-family: "Rubik", sans-serif;
                font-size: 1.5rem;
                font-weight: 700;
                border-bottom: 2px solid $primary-color;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05); /* Escala el elemento al 105% de su tamaño original al pasar el cursor */
                }
            }  
        }
    }
}


footer{
    width: 100%;
    height: auto;

    .footer__text{
        border-top: 35px solid $tertiary-color;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $quaternary-color;

        .footer__text__p{
            font-size: 1.3rem;
            color: $text-color;
        }
    }
}