@import 'variables';

a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 50px 70px;
    border-bottom: 1px solid $fifth-color;
}

.header{
    &__icons{
        width: 100%;
        height: 100%;
        display: grid;
        background-color: $primary-color;

        .header__listIcons{
            width: 300px;
            height: auto;
            display: flex;
            justify-self: end;
            align-items: center;
            justify-content: space-around;

            .icon{
                color: $text-color;
                &:hover{
                    color: $fifth-color;
                }
            }
        }
    }
}

.header{
    &__nav{
        background-color: $text-color;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        align-items: center;
        box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.1);


        .header__logo{
            .logo{
                .logo__image{
                    width: 150px;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .header__profileLink{
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;

            .header__linkProfile{
                color: $primary-color;
                font-family: "Rubik", sans-serif;
                font-size: 1.5rem;
                font-weight: 700;
                border-bottom: 2px solid $primary-color;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                }
            }            
        }
    }
}

.main{
    /*sección sobre mi*/
    &__aboutMe{
        width: 100%;
        height: aut;
        background-color: #dfe3e9;
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);

        .aboutMe__info{
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 550px));
            grid-auto-rows: 300px;
            padding: 20px 50px;
            gap: 30px;
            justify-content: center;
            align-items: center;

            .aboutMe__img{

                .aboutMe__imgContainer{
                    display: grid;
                    width: 100%;
                    height: 100%;
                    .imgContainer__img{
                        justify-self: center;
                        height: 300px;
                        object-fit: contain;
                        object-position: center;
                        border-radius: 10px;
                    }
                }
            }

            .aboutMe__text{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;

                .aboutMe__title{
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: $primary-color;
                    margin-bottom: 20px;
                }

                .aboutMe__paragraph{
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $primary-color;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.main{
    /*proyectos*/
    &__projects{
        margin-bottom: 50px;
        height: auto;
        .projects__title{
            font-size: 2rem;
            font-weight: 700;
            color: $primary-color;
            text-align: center;
            margin: 40px 0px;
        }

        .projects__articles{
            padding: 0 50px 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .article{
                background-color: $primary-color;
                max-width: 350px;
                min-width: 280px;
                height: 280px;
                border-radius: 5px;
                padding: 15px 15px;

                .article__text{
                    color: $text-color;
                    font-size: 1.7rem;
                    margin-bottom: 10px;
                }

                .article__info{
                    color: $text-color;
                    line-height: 15px;
                    font-size: 1.3rem;
                    
                }
            }
        }
    }
}

.main{
    /*contacto*/
    &__contact{
        width: 100%;
        height: auto;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 515px));
        grid-template-rows: 1fr;
        background-color: $primary-color;
        justify-content: center;
        padding: 40px 50px 40px;

        .contact__message{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;

            .contact__img{
                width: 80px;
                height: 80px;
                margin-right: 10px;
            }

            .contact__text{

                .profileLink{
                    font-size: 1.5rem;
                    color: $text-color;
                    margin-top: 10px;
                    border-bottom: 1.5px solid $text-color;
                    display: inline-block; // para que la transformación funcione
                    transition: transform 0.3s;
                    &:hover{
                        // color: $quaternary-color;
                        transform: scale(1.2);
                    }
                }

                .contact__paragraph{
                    font-size: 1.3rem;
                    margin: 10px 0;
                    color: $text-color;
                }
            }
        }

        .contact__social{
            @extend .contact__message;
        }
    }
}

.footer{
    width: 100%;
    height: auto;

    &__text{
        border-top: 35px solid $tertiary-color;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $quaternary-color;

        .footer__paragraph{
            font-size: 1.3rem;
            color: $text-color;
        }
    }
}